<%= color %>
***************DEBUG***************
Date:  <%= date %>
Method: <%= method %>
File: <%= file %>
Line: <%= line %>
Position: <%= position %>

Info
<%= _.map(list, function(item){ return item; }).join('\r\n') %>
***********************************<%= defaultColor %>