*********************************************************DEBUG*********************************************************
Date:  <%= date %>
Method: <%= method %>
File: <%= file %>
Line: <%= line %>
Position: <%= position %>

Info
<% _.each(list, function(item){ %><%= item + "\r\n"%><% }) %>
***********************************************************************************************************************